

.mainApp{
  display: grid;
  grid-template-columns: repeat(3,30vw);
  grid-template-areas: "header nav nav" 
  "main main main" 
  "footer footer footer";
  justify-content: center;
  justify-items: center;
  background-color: gray;
}

Header{
  grid-area: header;
}

Nav{
  grid-area: nav;
}

nav > ul{
  display: flex;
  list-style: none;
  gap: 4vw;
}

Main{
  grid-area: main;
}

Footer{
  grid-area: footer;
  background-color: blue;
}

@media screen and (max-width:600px){
  .mainApp{
    grid-template-areas: "header header header"
     "nav nav nav"
     "main main main"
     ".... footer footer";
  }
}